# {{ .Name }} (Resource)

## Example Usage

{{ tffile .ExampleFile }}

## LibreNMS Rule Definitions

Due to the complicated structure of the rulesets,
I would recommend initially configuring the dynamic
rules in the LibreNMS UI and then exporting from
the API to get the correct JSON format.

Example to get formatted rule output from an existing rule.
Update `0` in the jq command to the relevant device group ID:
```shell
   curl -H "X-Auth-Token: token" \
     https://librenms.mydomain.com/api/v0/devicegroups | \
     jq '.groups[0].rules'
```

You can also just use a serialized JSON string but the readability is worse:

```terraform
  rules = "{\"condition\": \"AND\", ....}"
```

{{ .SchemaMarkdown }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}
